html * {
    font-family: Comfortaa;
}

body {
    background: #212121;
    color: white;
    overflow-x: hidden;
}

hr {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.whoAmI {
    text-align: center;
    opacity: 1;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}

.whoAmI.softwareDev {
    -webkit-animation: textTransition 2s;
    -o-animation: textTransition 2s;
    animation: textTransition 2s;
}

#navBar {
    width: 100%;
    height: 50px;
    display: block;
    text-align: center;
    border: 1px solid white;
    border-left: unset;
    border-right: unset;
}

#navBar .navChild {
    display: inline-block;
    padding: 0 1%;
    font-size: 1.1em;
    line-height: 50px;
    font-weight: 800;
    background: #2f2f2f;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: ease 0.4s;
    -moz-transition: ease 0.4s;
    -ms-transition: ease 0.4s;
    -o-transition: ease 0.4s;
    transition: ease 0.4s;
}
#navBar .navChild:hover, #navBar .navChild.active {
    background: #464646;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#main {
    padding: 1%;
    overflow-x: hidden;
}

.personalSelect ul li {
    height: 140px;
}

.hostedProjects h2, .mostPop h2, .personalSelect h2 {
    width: 100%;
    float: left;
}

.hostedProjects ul li, .mostPop ul li, .personalSelect ul li {
    display: block;
    margin-bottom: 2%;
    width: 400px;
    float: left;
    margin-right: 5%;
    padding: 2%;
    background: #282828;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.hostedProjects ul li .projHeaders, .mostPop ul li .projHeaders, .personalSelect ul li .projHeaders {
    display: inline-block;
    font-weight: bolder;
    font-size: 1.1em;
    margin-bottom: 3%;
    margin-right: 0;
    margin-left: 0;
}

.hostedProjects ul li span, .mostPop ul li span, .personalSelect ul li span {
    margin-left: 3%;
}

.hostedProjects ul li a, .personalSelect ul li a {
    display: block;
    position: relative;
    width: 100%;
}

.aboutContainer h3 {
    font-size: 1.1em;
}
.timeLine {
    position: relative;
    width: 75%;
    height: 4px;
    background: white;
    margin: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.timeLineNode {
    position: absolute;
    width: 195px;
    height: 100px;
    border-left: 2px dashed;
}

.timeLineBall {
    position: absolute;
    width: 20px;
    height: 20px;
    background: gray;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    left: -9px;
}

.timeLineBall.top {
    top: 89px;
}

.timeLineBall.bottom {
    top: -7px;
}

.timeLineYear {
    position: absolute;
    left: -5px;
    font-weight: bolder;
    color: red;
}

.timeLineYear.top {
    top: -20px;
}

.timeLineYear.bottom {
    top: 105px;
}

.timeLineContent {
    display: list-item;
    margin-left: 20px;
    font-size: 1em;
}

.timeLineContent.bottom {
    margin-top: 80px;
}

@media screen and (max-width: 640px) {
    .timeLineContent {
        font-size: 2.3vw;
    }
}

@media screen and (max-width: 518px) {
    #navBar .navChild {
        font-size: 0.7em;
    }

    .hostedProjects ul li a {
        font-size: 0.8em;
    }

    .hostedProjects ul li, .mostPop ul li, .personalSelect ul li {
        width: 330px;
        margin-left: -35px;
    }

    .hostedProjects ul li span:nth-child(2), .mostPop ul li span:nth-child(2), .personalSelect ul li span:nth-child(2) {
        width: 75% !important;
    }
}

@keyframes textTransition {
from {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}